
.card__like-button {
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_is-active {
  background: transparent url('../../../images/like-active.svg') no-repeat;
}
.card__like-button:hover {
  opacity: 0.6;
}

.card__like-container {
  display: flex;
  align-items: center ;
  flex-direction: column;
}

.card__like-count {
  margin-top: 2px;
  font-size: 14px;
  color: #000;
}